form {
  width: 85%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem 0;
  color: rgb(114, 111, 111);
}

.form-input {
  width: 100%;
}

.buttons {
  width: 40%;
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
